parameters:
	ignoreErrors:
		-
			message: '#^Found usage of constant DOING_AJAX\. Use wp_doing_ajax\(\) instead\.$#'
			identifier: phpstanWP.wpConstant.fetch
			count: 1
			path: includes/functions-admin.php
